<!--The content below is only a placeholder and can be replaced.-->
<div class="background" [style.background-color]="color"  ></div>
<div style="text-align:center;"  class="wrapper">

	<div *ngIf="!start && !final" class="center-vertical">
		
		<img src="/assets/Principal.png" style="width:60%; max-width:500px;" alt="">
		<h1 class="slog-q">¿Quieres una web profesional?</h1>
		<h1 class="slog">La creamos a tu gusto!</h1>
		<hr style="margin-top: 45px;">
		<div class="init pointer" (click)="init()" >Empezar</div>
	</div>

	<h2 *ngIf="currentIndex!=0 && !final" class="pointer top grand" (click)="previous()" style="float:left">Anterior</h2>
	

	<div *ngIf="(!final || edit) && start"  >
		
		<h2 *ngIf="cost" class="top" style="float:right">S. {{cost}}</h2>
		<h2 class="top" > {{currentIndex+1}}/{{_questionsService.getIndex()}} </h2>
		
		

		<div class="questions">
			<img src="/assets/questions/{{currentQuestion.image}}" alt="">
			
			<h1>
				{{currentQuestion.question}}
			</h1>
		</div>
		<hr>
		<div *ngIf="!edit" class="grid" >
			<div *ngFor="let nodo of currentQuestion.nodes" @enter [style.background-color]="currentQuestion.color" class="node-out">
				<node  [node]="nodo" (click)="addAnswered(nodo, null)"></node>
			</div>
		</div>
		
		<div *ngIf="edit" class="grid" >
			<div *ngFor="let nodo of currentQuestion.nodes; let i = index"  [style.background-color]="currentQuestion.color" class="node-out">
				<node  [node]="nodo" (click)="addAnswered(nodo)"></node>
			</div>
		</div>
		
	</div>

	
	
	<div *ngIf="final && !edit" class="vertical-2">
			<h2 class="pointer grand" (click)='backToInit()' > Volver a Empezar </h2>
			<h1 style="margin-top:45px" >S. {{cost}}</h1>
			<div *ngIf="!seeAnswers"  >
				<div class="init pointer"  (click)="seeAmswuers()">Ver respuestas</div>
		
			</div>
			<div class="edit-list" style="margin-top:45px" *ngIf="seeAnswers">
				<div *ngFor="let q of answered; let i = index"><h3>{{q.question}} <br/> {{q.nodes[0].nombre}} </h3>  <div class="pointer edit-b" (click)="editAnswered(i)">cambiar</div> <hr/> </div>
			</div>
	</div>
</div>

