/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&subset=latin-ext');

*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    overflow-x: hidden;
}

div, span, h1, h2, h3, p{
    font-family: 'Hammersmith One', sans-serif;
    letter-spacing: 1px;
}

.edit-list hr{
    width: 60%;
    height: 0.5px;
    margin-top: 20px;
   margin-bottom: 20px;
}

.edit-b{
    width: fit-content;
    margin: auto;
    background-color: rgba(0,0,0,0.2);
    padding: 3px 20px;
    border-radius: 10px;
}

.pointer{
    cursor: pointer;
}

hr{
    height: 4px;
    background: white;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
 
}

.node-out {
    border-radius: 100%;
    background-color: green;
    width: 200px;
    height: 200px; 
    display: inline-block;
    margin: 5px;
    pointer-events: all;
    cursor: pointer;
    
    -webkit-transition: width 100ms ease-in-out, height 100ms ease-in-out;
    -moz-transition: width 100ms ease-in-out, height 100ms ease-in-out;
    -o-transition: width 100ms ease-in-out, height 100ms ease-in-out;
    -ms-transition: width 100ms ease-in-out, height 100ms ease-in-out;
    transition: width 100ms ease-in-out, height 100ms ease-in-out;
}
.node-out:hover, .node-out:active {
    width: 220px;
    height: 220px;
}

.grand{
    -webkit-transition: width 100ms ease-in-out, height 100ms ease-in-out;
    -moz-transition: width 100ms ease-in-out, height 100ms ease-in-out;
    -o-transition: width 100ms ease-in-out, height 100ms ease-in-out;
    -ms-transition: width 100ms ease-in-out, height 100ms ease-in-out;
    transition: width 100ms ease-in-out, height 100ms ease-in-out;
}

.node-in{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: repeating-linear-gradient( 135deg, rgba(0,0,0,0) 35px, rgba(0,0,0,0) 41px, rgba(0,0,0,0) 17px, rgba(0,0,0,0.4) 51px );
    border-radius: 100%;
}
.node-in h1{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    max-width: 200px;
    min-width: 200px;
    color: white;
}

.questions h1{
    font-variant: all-small-caps;
    font-size: 2.5em;
    margin: 10px;
}

.questions {
    margin-top:20px;
}

.questions img{
    width: 190px;
    width: 190px;
}

.wrapper{
    padding: 0 100px;
    position: relative;
    height: 100vh;
}
.background{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1; 
}

.init{
    margin: auto;
    background-color: rgba(64,209,130,1);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 20px 75px;
    font-size: 2em;
    letter-spacing: -1px;
    border-radius: 20px;
    margin-top: 45px;

    -webkit-transition: background-color 100ms ease-in-out, padding 100ms ease-in-out, font-size 100ms ease-in-out;
    -moz-transition: background-color 100ms ease-in-out, padding 100ms ease-in-out, font-size 100ms ease-in-out;
    -o-transition: background-color 100ms ease-in-out, padding 100ms ease-in-out, font-size 100ms ease-in-out;
    -ms-transition: background-color 100ms ease-in-out, padding 100ms ease-in-out, font-size 100ms ease-in-out;
    transition: background-color 100ms ease-in-out, padding 100ms ease-in-out, font-size 100ms ease-in-out;
}


.init:hover{
    background-color: rgba(255,255,255,1);
    padding: 25px 80px;
    font-size: 2.25em;
    color: #3b3a3a;
}

.slog{
    font-variant: all-small-caps;
    font-size: 3.5em;
}
.slog-q{
    font-size: 1.2em;
}


.center-vertical{
    padding-top: 12%;
}

.top{
    padding-top: 30px;
}

.vertical-2{
    padding-top:20%;
}

@media screen and (max-width: 768px){
    
    .slog, .questions h1 {
        font-size: 2em;
    }
    
    .slog-q{
        font-size: 0.9em;
    }
    
    .center-vertical{
        padding-top: 43% ;
    }

    .vertical-2{
        padding-top:60%;
    }
}


@media screen and (max-width: 480px){
    .wrapper{
        padding: 30px 10px;
    }

}
